@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  font-family: 'Poppins',serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
}
.nav-link{
  color: blue;
}
.active{
  border-bottom: 2px solid blue;
}
.navbar-brand{
  border-bottom: none;
  display: flex;
  align-items: center;
}
.form-container form button{
  border:1px solid black;
  border-radius: 0;
  background-color:darkblue;
  color: white;
  width:250px;
  display: flex;
  margin: 10px;
}